Nội dung thực hành: Các bài lý thuyết 1, 2, 3.

In [ ]:
# import các thư viện cần thiết

Câu 1. Tạo series s1 từ list các chữ cái từ a đến f như sau: \['a', 'b', ... , 'f'\]. In s1.

Câu 2. Tạo lại series s1 như trên, nhưng lần này đặt index là chữ cái in hoa tương ứng của các chữ cái. In s1.

Câu 3. Tạo một dictionary với key là \['JP', 'KR', 'PL', 'RU' 'UK', 'US'\] tương ứng với các giá trị \['Japan', 'Korea', 'Poland', 'Russia', 'United Kingdom', 'United States'\].

Từ dictionary này tạo series s2. In s2.

Câu 4. Truy xuất phần tử thứ 3 của s2.

Truy xuất phần tử có nhãn là 'KR'.

In các kết quả truy xuất.

Câu 5. Lấy phần tử kế cuối của s2.

Gợi ý: iloc có thể nhận giá trị âm, ví dụ iloc\[-1\].

Câu 6. Dùng hàm datetime để tạo thời điểm 6 giờ 30 phút 17 giây ngày 15 tháng 9 năm 2001. Lưu thời điểm vào biến t1 và in t1.

Câu 7. Dùng strftime để in ra tháng đầy đủ của t1, ở đây là September.

Câu 8. Dùng hàm date_range của pandas để tạo mảng các ngày cuối cùng của các tháng trong năm 2021. Lưu mảng vào biến d1.

Tham khảo https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases để chọn được freq phù hợp.

Câu 9. Dùng hàm randint của numpy để tạo một mảng gồm 12 số nguyên có giá trị ngẫu nhiên từ 100 đến 1000 và lưu vào biến rand. Gợi ý: Thực hiện các phép tính +-*/ với biến rand và xem thử kết quả.

Tạo timeseries từ mảng d1 ở câu 8 và mảng số nguyên vừa tạo, lưu vào biến ts1. In ts1.

Câu 10. Tìm trung bình, trung vị và độ lệch chuẩn của ts1. In các kết quả.

Câu 11. Tạo dictionary với các cặp key-value như sau:
- Month: \[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12\]
- Customers: \[341, 243, 223, 464, 534, 543, 356, 378, 289, 330, 254, 285\]
- Profit: \[3218, 2238, 2038, 4448, 5148, 5238, 3368, 3588, 2698, 3108, 2348, 2658\]

Tạo dataframe từ dictionary này, lưu thành df1. In df1.

Câu 12. Đổi index của df1 thành các ngày cuối tháng của năm 2021. In df1.

Câu 13. Đổi cột Month thành viết tắt của các tháng: 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'.

Dùng hàm .loc của dataframe để truy xuất dòng dữ liệu của tháng 2. In ra dòng này. Gợi ý: Hàm Timestamp của pd.

Câu 14. Lọc ra dữ liệu các tháng có profit đạt nhiều hơn 3000 và lưu vào biến df2. In df2.

Tính số lượng khách hàng trung bình của các dòng dữ liệu này và chuyển về dạng số nguyên. In kết quả. Gợi ý: Mỗi cột của dataframe là một series. Tham khảo https://docs.python.org/3/library/functions.html để tìm hàm làm tròn.

Câu 15. In dữ liệu các tháng có profit cao hơn trung bình.